<section id="getstarted" class="getstarted">
  <div class="container getstarted__container">
    <div class="getstarted__form-wrapper">
      <h3 class="getstarted__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="getstarted__form-text text-p-medium">
        You can reach us anytime
        <a
          class="getstarted__form-link"
          href="mailto:hellosansbrothers@gmail.com"
        >
          hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="getstarted__form">
        <div class="getstarted__form-top">
          <label class="getstarted__form-label text-p-small">
            <span class="getstarted__form-label-text text-p-small"
              >First name</span
            >
            <input
            required
              type="text"
              class="getstarted__form-input getstarted__form-input--small text-p-small"
              name="first-name"
              placeholder="First name"
            />
          </label>
          <label class="getstarted__form-label text-p-small">
            <span class="getstarted__form-label-text text-p-small"
              >Last name</span
            >
            <input
            required
              type="text"
              class="getstarted__form-input getstarted__form-input--small text-p-small"
              name="last-name"
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="getstarted__form-label text-p-small">
          <span class="getstarted__form-label-text text-p-small">Email</span>
          <input
          required
            type="email"
            class="getstarted__form-input text-p-small"
            name="email"
            placeholder="you@company.com"
          />
        </label>
        <label class="getstarted__form-label text-p-small">
          <span class="getstarted__form-label-text text-p-small"
            >Phone number</span
          >
          <input
          required
            id="phone"
            type="tel"
            class="getstarted__form-input text-p-small"
            name="phone"
            placeholder="+1 (555) 000-0000"
          />
        </label>
        <label class="getstarted__form-label text-p-small">
          <span class="getstarted__form-label-text text-p-small">Message</span>
          <textarea
            type="text"
            class="getstarted__form-input getstarted__form-input--textarea text-p-small"
            name="message"
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="getstarted__form-btn button-form">Get started</button>
      </form>
    </div>
    <img
      class="getstarted__img"
      loading="lazy"
      src="./assets/images/contact-getstarted.jpg"
      width="987"
      height="885"
      alt="Some peoples tells"
    />
  </div>
</section>
