<section class="hero hero-decor">
  <div class="container hero__container">
    <div class="hero__head">
      <h2 class="hero__head-title heading-h2">Activity & Updates</h2>
      <p class="hero__head-descr text-p-subtitle">
        Our biggest challenge is making sure we're always designing and building
        products that will help you run your business better.
      </p>
    </div>
    <div class="hero__slider-sections text-p-default">
      <button
        class="hero__section-btn hero__section-btn--active"
        data-slider="hero-slider1"
      >
        View all
      </button>
      <button class="hero__section-btn" data-slider="hero-slider2">
        Design
      </button>
      <button class="hero__section-btn" data-slider="hero-slider3">
        Articles
      </button>
      <button class="hero__section-btn" data-slider="hero-slider4">
        Product
      </button>
      <button class="hero__section-btn" data-slider="hero-slider5">
        Software Development
      </button>
      <button class="hero__section-btn" data-slider="hero-slider6">
        Customer Success
      </button>
    </div>

    <div class="hero__slider-container">
      <div
        id="hero-slider1"
        class="hero__slider-wrapper hero__slider-wrapper--active"
      >
        <div class="swiper hero__swiper-nav">
          <div class="hero__swiper-btns">
            <svg
              width="28"
              height="18"
              viewBox="0 0 28 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                stroke="#7E8492"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide hero__article">
              <img
                class="hero__article-img"
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/blog/blog-hero-1.jpg"
                alt="Woman with laptop"
              />
              <div class="hero__article-info text-p-small">
                <div class="hero__article-info-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024 </time>
                </div>
                <address class="hero__article-info-author">
                  by : Albert Sans
                </address>
              </div>
              <h3 class="hero__article-title heading-h5">
                Practice making User Flow
              </h3>
              <p class="hero__article-descr">
                In this article, we'll cover how to create user flows
              </p>
            </div>
            <div class="swiper-slide hero__article">
              <img
                class="hero__article-img"
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/blog/blog-hero-2.jpg"
                alt="Girls with laptop"
              />
              <div class="hero__article-info text-p-small">
                <div class="hero__article-info-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024 </time>
                </div>
                <address class="hero__article-info-author">
                  by : Albert Sans
                </address>
              </div>
              <h3 class="hero__article-title heading-h5">
                Overview of the Design Principles
              </h3>
              <p class="hero__article-descr">
                What are Design Principles?… To understand design principles, we
                first discuss the principles.
              </p>
            </div>
            <div class="swiper-slide hero__article">
              <img
                class="hero__article-img"
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/blog/blog-hero-2.jpg"
                alt="Woman with laptop"
              />
              <div class="hero__article-info text-p-small">
                <div class="hero__article-info-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024 </time>
                </div>
                <address class="hero__article-info-author">
                  by : Albert Sans
                </address>
              </div>
              <h3 class="hero__article-title heading-h5">
                Using Grid in website design
              </h3>
              <p class="hero__article-descr">
                Andi: "What's the grid like?" Toni: “Like below…”
              </p>
            </div>
            <div class="swiper-slide hero__article">
              <img
                class="hero__article-img"
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/blog/blog-hero-1.jpg"
                alt="Woman with laptop"
              />
              <div class="hero__article-info text-p-small">
                <div class="hero__article-info-date">
                  Published in Insight
                  <time datetime="2024-01-30">Jan 30, 2024 </time>
                </div>
                <address class="hero__article-info-author">
                  by : Albert Sans
                </address>
              </div>
              <h3 class="hero__article-title heading-h5">
                Practice making User Flow
              </h3>
              <p class="hero__article-descr">
                In this article, we'll cover how to create user flows
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="hero-slider2" class="hero__slider-wrapper">
        <div class="swiper hero__swiper-nav">
            <div class="hero__swiper-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-1.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-2.jpg"
                  alt="Girls with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="hero__article-descr">
                  What are Design Principles?… To understand design principles, we
                  first discuss the principles.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-2.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-1.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="hero-slider3" class="hero__slider-wrapper">
            <div class="swiper hero__swiper-nav">
                <div class="hero__swiper-btns">
                  <svg
                    width="28"
                    height="18"
                    viewBox="0 0 28 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                      stroke="#7E8492"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-1.jpg"
                      alt="Woman with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Practice making User Flow
                    </h3>
                    <p class="hero__article-descr">
                      In this article, we'll cover how to create user flows
                    </p>
                  </div>
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-2.jpg"
                      alt="Girls with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Overview of the Design Principles
                    </h3>
                    <p class="hero__article-descr">
                      What are Design Principles?… To understand design principles, we
                      first discuss the principles.
                    </p>
                  </div>
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-2.jpg"
                      alt="Woman with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Using Grid in website design
                    </h3>
                    <p class="hero__article-descr">
                      Andi: "What's the grid like?" Toni: “Like below…”
                    </p>
                  </div>
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-1.jpg"
                      alt="Woman with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Practice making User Flow
                    </h3>
                    <p class="hero__article-descr">
                      In this article, we'll cover how to create user flows
                    </p>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div id="hero-slider4" class="hero__slider-wrapper">
        <div class="swiper hero__swiper-nav">
                <div class="hero__swiper-btns">
                  <svg
                    width="28"
                    height="18"
                    viewBox="0 0 28 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                      stroke="#7E8492"
                      stroke-width="3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="swiper-wrapper">
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-1.jpg"
                      alt="Woman with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Practice making User Flow
                    </h3>
                    <p class="hero__article-descr">
                      In this article, we'll cover how to create user flows
                    </p>
                  </div>
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-2.jpg"
                      alt="Girls with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Overview of the Design Principles
                    </h3>
                    <p class="hero__article-descr">
                      What are Design Principles?… To understand design principles, we
                      first discuss the principles.
                    </p>
                  </div>
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-2.jpg"
                      alt="Woman with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Using Grid in website design
                    </h3>
                    <p class="hero__article-descr">
                      Andi: "What's the grid like?" Toni: “Like below…”
                    </p>
                  </div>
                  <div class="swiper-slide hero__article">
                    <img
                      class="hero__article-img"
                      loading="lazy"
                      width="515"
                      height="428"
                      src="./assets/images/blog/blog-hero-1.jpg"
                      alt="Woman with laptop"
                    />
                    <div class="hero__article-info text-p-small">
                      <div class="hero__article-info-date">
                        Published in Insight
                        <time datetime="2024-01-30">Jan 30, 2024 </time>
                      </div>
                      <address class="hero__article-info-author">
                        by : Albert Sans
                      </address>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                      Practice making User Flow
                    </h3>
                    <p class="hero__article-descr">
                      In this article, we'll cover how to create user flows
                    </p>
                  </div>
                </div>
              </div>
      </div>
      <div id="hero-slider5" class="hero__slider-wrapper">
        <div class="swiper hero__swiper-nav">
            <div class="hero__swiper-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-1.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-2.jpg"
                  alt="Girls with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="hero__article-descr">
                  What are Design Principles?… To understand design principles, we
                  first discuss the principles.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-2.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-1.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
      </div>
      <div id="hero-slider6" class="hero__slider-wrapper">
        <div class="swiper hero__swiper-nav">
            <div class="hero__swiper-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="swiper-wrapper">
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-1.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-2.jpg"
                  alt="Girls with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="hero__article-descr">
                  What are Design Principles?… To understand design principles, we
                  first discuss the principles.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-2.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  class="hero__article-img"
                  loading="lazy"
                  width="515"
                  height="428"
                  src="./assets/images/blog/blog-hero-1.jpg"
                  alt="Woman with laptop"
                />
                <div class="hero__article-info text-p-small">
                  <div class="hero__article-info-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024 </time>
                  </div>
                  <address class="hero__article-info-author">
                    by : Albert Sans
                  </address>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
