<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
        loading="lazy"
        width="97"
        height="30"
          src="./assets/images/icons/partners/airbnb-icon.svg"
          alt="Airbnb logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="97"
        height="30"
          src="./assets/images/icons/partners/amazon-icon.svg"
          alt="Amazon logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="96"
        height="30"
          src="./assets/images/icons/partners/fedex-icon.svg"
          alt="FedEx logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="116"
        height="26"
          src="./assets/images/icons/partners/microsoft-icon.svg"
          alt="Microsoft logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="91"
        height="30"
          src="./assets/images/icons/partners/google-icon.svg"
          alt="Google logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="94"
        height="32"
          src="./assets/images/icons/partners/ola-icon.svg"
          alt="OLA logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="114"
        height="28"
          src="./assets/images/icons/partners/walmart-icon.svg"
          alt="WalMart logo"
        />
      </li>
      <li class="partners__item">
        <img
        loading="lazy"
        width="80"
        height="28"
          src="./assets/images/icons/partners/oyo-icon.svg"
          alt="OYO logo"
        />
      </li>
    </ul>
  </div>
</section>
